<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="logo.png" type="image/x-icon">
  <!-- <script type="text/javascript" {{ url_for('static', filename='app.js')}}></script> -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/app2.css" media="screen" title="no title">
    <!-- <script type="text/javascript">
      var lol = '{{ results[0] }}';
      console.log(lol);
    </script> -->
    <script src="../static/app.js" charset="utf-8"></script>
    <title>Mail | Daakster</title>
  </head>
  <body>
    <header>
      <img src="../static/logo2.png" alt="logo" />
      <center>
      <h1>Mail</h1>
      </center>
      <div class="icons">
        <i onclick="openOverlay()" class="fa fa-search" aria-hidden="true"></i>
        <i onclick="openSidePanel()" class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </div>
      <div class="clear"></div>
    </header>
    <br>
    <center>
      <div class="messsage-window">
        <div class="top">
          <div class="user-icon">
            <h3>SK</h3>
          </div>
          <br>
          <h2>{{subjects}}</h2>
        </div>
        <br><br><br><br><br>
        <br><br><br>
      </div>
      <hr width="1000">
      <div class="mail-window">
      <p style="font-size: 2em;">Short Version</p>
      <p style="font-size: 1.2em;">We would like to place an order with your company for 25 pounds of pancake mix and five gallons of maple syrup.</p>

      <hr width="1000">
      <p style="font-size: 2em;">Original Mail</p>
      <div style="text-align: justify; width: 70%;"><img src="../static/done.png"></div>
      </div>
  </center>
  <div class="side-menu" id="side-menu">
    <div class="close" onclick="closeSidePanel()">
      <i class="fa fa-times-circle-o" aria-hidden="true"></i>
    </div>
    <div class="clear">

    </div>
    <center>
    <h1>Menu</h1>
    <hr>
    <br>
    <div class="links">
      <a href="inbox.html"><i class="fa fa-inbox" aria-hidden="true"></i> &nbsp; Inbox</a>
      <a href="#.html"> <i class="fa fa-user" aria-hidden="true"></i> &nbsp; Dashboard</a>
      <a href="#.html"> <i class="fa fa-sliders" aria-hidden="true"></i> &nbsp; Settings</a>
    </div>
  </center>
  </div>
  <div class="overlay" id="overlay">
    <div class="close2" onclick="closeOverlay()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="clear"></div>
    <center>
   <form action="#" method="post">
     <input class="search-bar" type="search" name="search" placeholder="Search your mails">
   </form>
 </center>
  </div>
  </body>
</html>
